main {
    padding: 20px;
}

.celeste-clarito{
    background-color: #effffd;
}

.titulo{
    display: flex;
    justify-content: center;
}

.users-login{
    margin: 15px;
    border-radius: 5px;
    text-align: center;
    width: 18%;

}

.inicio-login{
    color: white;
    background-color: #42c2ff;
    border-radius: 5px;
    width: max-content;
    margin: 20px;
    text-align: center ;
    transition: background-color 0.3s
}
.center{
    text-align: center;
}

@media (max-width:768px){
    .users-login{
        width: 35%;
    }
}