.titleedit{
    margin-top: 20px;
}
.label{
    margin: 5px;
}

.input{
    border-radius: 8px;
}

main div{
    margin: 25px;
    margin-bottom: 0px;

}

main{
    background-color: #EFFFFD;
}

.last-div{
    margin-bottom: 20px;
}