.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 40%;
    height: 80%;
    margin: 20px
}

.img-c{
    width: 80%;
}


.description-con{
    width: 40%;
    height: 80%;
}

.description{
    border: 1px solid;
    background-color: white;
    border-radius: 8px;
    margin: 0px 20px;
}

.b-carrito{
    margin-bottom: 10px;
}

.botones{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.b-carrito{
    width: 45%;
    border-radius: 8px;
    background-color: #42C2FF;
}

.botoneyd{
    border-radius: 8px;
    background-color: #42C2FF; 
}




