.titleedit{
    margin-top: 0;
}
.label{
    margin: 5px;
}

.input{
    border-radius: 8px;
}

div{
    margin: 25px;
    margin-bottom: 0px;

}

main{
background-color: #EFFFFD;
}

.last-div{
    margin-bottom: 0px;
}