* {
    font-family: 'Ubuntu', sans-serif;
}

main{
    text-align: center;
    background-color: #EFFFFD;
    padding: 20px;
}

.title{
    margin: 0;
    padding: 20px;
}

form input{
    margin: 13px;
    border-radius: 5px;
    text-align: center;
}

.send{
    margin: 20px;
    border-radius: 5px;
    background-color: #42C2FF;
    width: 15%;
}

.erase{
    margin: 10px;
    border-radius: 5px;
}


@media (max-width:762px) {
    .send {
        width: max-content;
    }
}