<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fuerza y disiplina </title>
</head>

<body>
     <header>
             <h1>ESTA ES LA PAGINA DEL LOGIN</h1>

             <h1 class="p-4-doble">
                <img src="design/LOGO.jpeg" alt="LOGO.jpeg">
             </h1>

             <div>
                <p> <a>estado del pedido </a></p>
             </div>

             <div>
                <p> <a>acarrito de compras</a> </p>
             </div>

             <div>
                <p> <a> login </a> </p>
             </div>

             

         <nave>
           <p>carrucel de imagines</p>

             <ul>  
   
                 <li><a>home : </a></li>
                 <li><a>pesas :</a></li>
                 <li><a>barras :</a></li>
                 <li><a>discos:</a></li>
                 <li><a>maquinas:</a></li>
                 <li><a>otros:</a></li>

                 <p> barra de busqueda </p>

             </ul>

             <ul>  
                <p> iniciar seccion </p>
                <li><a>usuario:</a></li>
                <li><a>contraseña:</a></li>
                <li><a>registrarse:</a></li>

            </ul>
   
         <nave>

    </header>
</body>
</html>