<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fuerza y disiplina </title>
</head>

<body>
     <header>

         <nave>
         
         <nave>

    </header>

    <main>

       <section>
            <article class="celeste-clarito">

                    <div>
                       <h4>● inciar secion : </h4>
                    </div>

                   <div>
                   <li><a> usuario </a></li>
                   <li><a> contraseña </a></li>
                   </div>

                   <div>
                     <p>● registrarse: </p>
                  </div>


            </article>
       </section>
</body>
</html>