<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
     <h1>ESTA ES LA PAGINA DEL DETALLE DE PRODUCTO</h1>

     <header>

     </header>

     <main>
      <section>
        <div>
          <p> <img class="images"  src='images/foto1.jpg' alt='foto1'></p>

          <div >
          <p class='precio'>$6.770</p>
          <p class='dcto'>40% OFF</p>
          </div>

          <p class='des'>Cafetera Moulinex</p>
          </div>
    </section>
  </main>
</body>
</html>