<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
   <body>
  
     <div class="producto">

      <img src="/images/foto1.jpg" alt="foto1">

        <h1>Nombre del Producto</h1>

        <p>Precio: $99.99</p>

        <p>Descripción del producto:</p>

        <label>Cantidad:</label>

        <button>Añadir al carrito</button>

        <p>reseñas del producto</p>

        <button>otros articulos </button>
     </div>
   </body>
</html>