<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/footer.css'>
    <link rel='stylesheet' href='/css/header.css'>
    <link rel='stylesheet' href='/css/register.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Fuerza y Disciplina</title>
</head>
<body>
    <header>
        <div class = 'header-top'>
            <a href='/'><img class = 'logo' src = '/images/logo.jpeg' alt = 'Logo'></a>
            <div class = 'principal-title'> <h1> FUERZA Y DISCIPLINA </h1> </div>
            <a href='#'><div class = 'status-order'> Estado del pedido <i class="fa-solid fa-truck" style="color: #005eff;"></i> </div>  </a>
            <a href='/productCart'><div class = 'shopping-cart'> Carrito de compras <i class="fa-solid fa-cart-shopping" style="color: #005eff;"></i> </div></a>
            <a href='/register'><div class = 'register'> Registrate aqui <i class="fa-solid fa-right-to-bracket" style="color: #005eff;"></i> </div></a>
            <a href='/login'><div class = 'login'> Ingresa aqui <i class="fa-solid fa-user" style="color: #005eff;"></i> </div></a>
        </div>
        <div class="image-slider ">
            <img src="/images/foto1.jpg" alt="Imagen 1">
            <img src="/images/foto2.jpg" alt="Imagen 2">
            <img src="/images/foto3.jpg" alt="Imagen 3">
            <img src="/images/foto4.jpg" alt="Imagen 4">
            <img src="/images/foto5.jpg" alt="Imagen 5">
            <img src="/images/foto6.jpg" alt="Imagen 6">
            <img src="/images/foto7.jpg" alt="Imagen 7">
            <img src="/images/foto8.jpg" alt="Imagen 8">
            <img src="/images/foto9.jpg" alt="Imagen 9">
            <img src="/images/foto10.jpg" alt="Imagen 10">
        </div>
        <div class= 'background-burger'>
        <div class="burger-menu"> <a href='#'> <i class="fa-solid fa-bars" style="color: #1f2e51;"></i> </a></div>
        </div>
        <nav class = 'nav-bar'>
            <ul class = 'ul-nav'>
                <li> <a href='#'>Home </a></li>
                <li> <a href='#'>Pesas </a></li>
                <li> <a href='#'>Barras </a></li>
                <li> <a href='#'>Discos </a></li>
                <li> <a href='#'>Maquinas </a></li>
                <li> <a href='#'>Otros </a></li>
                <p class='barra-busqueda'>
                    <input type="text" name="q" placeholder="Buscar aquí..."> <a href='#'><i
                            class="fa-solid fa-magnifying-glass"></i> </a>
                </p>
            </ul>
        </nav>
        </nav>
    </header>
        <main>
            <h2 class='title'> Registrese aqui </h2>
            <form>
                <input class="name" type="text" id="nombre" name="nombre" placeholder="Nombres y apellidos" required>
                <br>
                <input class="user" type="text" id="usuario" name="usuario" placeholder="Nombre del usuario" required>
                <br>
                <input class="correo" type="text" id="email" name="correo" placeholder="E-mail" required>
                <br>
                <input class="password" type="text" id="password" name="contraseña" placeholder="Contraseña" required>
                <br>
                <input class="confirm-password" type="text" id="password" name="confirm-password"
                    placeholder=" Confirmar contraseña" required>
                <br>
                <input class="direccion" type="text" id="Addres" name="direccion" placeholder="Direccion" required>
                <br>
                <input class="pais" type="text" id="Country" name="Pais" placeholder="Pais" required>
                <br>
                <input class="city" type="text" id="City" name="City" placeholder="Ciudad" required>
                <br>
                <h3>Carga tu foto de usuario</h3>
                <input class='file' type="file" id="archivo" name="archivo">
                <br>
                <a href="/"> <input class='send' type="button" value="Enviar"></a>
                <br>
                <input class='erase' type="reset" value="Borrar">
            </form>
        </main>
    <footer>
        <section class = 'footer-content'>
            <div class = 'text-footer'> Contactanos: +57300000000</div>
            <div class = 'text-footer1'> Email: fuerzaydisciplina@fuerzaydisciplina.com </div>
            <div class = 'text-footer2'> Direccion: Calle falsa 123 Springfield </div>
            <div class = 'logo-footer'> <a href='/'><img class = 'logo-footer2' src = '/images/logo.jpeg' alt = 'Logo'> </a> </div>
        </section>
    </footer>
</body>
</html>