<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>

</head>
   <body>

   
    <section>

      <img class="img-producto md-product-shadow" src="/images/barra.jpg" alt="barra">
    
         <div class="detalle-product">

          <h1 class=" medida-titulo">Juego De Barras Macizas</h1>

          <p class="borde-y-demas   medida-precio ">Precio: $100</p>

          <p class=" descripsion borde-y-demas"> DESCRIPCION: Juego de 5 barras macizas.
            Incluye:
            1 barra w con topes
            1 barra romana con topes
            1 barra 1. 80 mts con topes
            1 barr 1.50 mts con topes
            1 barra 1.20 mts con topes
            Somos fabricantes
            Hacemos envios </p>

           <button class="borde-y-demas  md-product-shadow medida-carrito"> Añadir al carrito<i class="fa-solid fa-cart-shopping separac-carrito" style="color: #3395e1;"></i> </button>
         </div>
       
    </section>

      <article class="detalle-product color md-product-shadow">
           <div>

           <p class="reseñas">reseñas del producto</p>

           <button class="borde-y-demas">otros articulos </button>

           </div>
      </article>
   </body>
</html>