<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="/css/normalize.css"/>
    <link rel="stylesheet" href="/css/home.css" />
    <%- include('../partials/linksComunes.ejs') %>
    <title>Fuerza y Disciplina</title>
</head>
<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <main>   
            <div>
                <div>
                    <div class = 'producttitle'>
                        <h2> Categoria Pesas </h2>
                    </div>
                    <div class = contenedor-p>
                    <% products.forEach(product => { %>
                        <%- include('../partials/product-card.ejs', {product}) %>
                      <% }); %>
                    </div>
                </div>                        
            </div>
    </main> 
     
    
        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>

    </body>
    </html>