<header>
    <div class = 'header-top'>
        <a href='/home'><img class = 'logo' src = '/images/logo.jpeg' alt = 'Logo'></a>
        <div class = 'principal-title'> <h1> FUERZA Y DISCIPLINA </h1> </div>
        <a href='/product/create'><div class = 'status-order'> Crear un producto </div>  </a>
        <a href='/product/cart'><div class = 'shopping-cart'> Carrito de compras <i class="fa-solid fa-cart-shopping" style="color: #005eff;"></i> </div></a>
        <a href='/users/register'><div class = 'register'> Registrate aqui <i class="fa-solid fa-right-to-bracket" style="color: #005eff;"></i> </div></a>
        
        <% if (userData) { %>
            <div>Bienvenido, <%= userData %></div>
            <a href="/users/logout">Cerrar sesión</a>
          <% } else { %>
            <a href='/users/login'><div class = 'login'> Ingresa aqui <i class="fa-solid fa-user" style="color: #005eff;"></i> </div></a>
          <% } %>
    </div>
    <div class="image-slider ">
        <img src="/images/foto1.jpg" alt="Imagen 1">
        <img src="/images/foto2.jpg" alt="Imagen 2">
        <img src="/images/foto3.jpg" alt="Imagen 3">
        <img src="/images/foto4.jpg" alt="Imagen 4">
        <img src="/images/foto5.jpg" alt="Imagen 5">
        <img src="/images/foto6.jpg" alt="Imagen 6">
        <img src="/images/foto7.jpg" alt="Imagen 7">
        <img src="/images/foto8.jpg" alt="Imagen 8">
        <img src="/images/foto9.jpg" alt="Imagen 9">
        <img src="/images/foto10.jpg" alt="Imagen 10">
    </div>
    <div class= 'background-burger'>
        <div class="burger-menu"> <a href='#'> <i class="fa-solid fa-bars" style="color: #1f2e51;"></i> </a></div>
    </div>
    <nav class = 'nav-bar'>
        <ul class = 'ul-nav'>
            <li> <a href='/home'>Home </a></li>
            <li> <a href='/product/pesas'>Pesas </a></li>
            <li> <a href='/product/barras'>Barras </a></li>
            <li> <a href='/product/discos'>Discos </a></li>
            <li> <a href='/product/maquinas'>Maquinas </a></li>
            <li> <a href='/product/otros'>Otros </a></li>
            <!-- <p class='barra-busqueda'>
                <input type="text" name="q" placeholder="Buscar aquí..."> <a href='product/search'><i
                        class="fa-solid fa-magnifying-glass"></i> </a>
            </p> -->
        </ul>
    </nav>
    </nav>
</header>