<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/login.css'>
    <title>fuerza y disiplina </title>
</head>

<body class="celeste-clarito">
     <header>

         <nave>
         
         <nave>

    </header>

    <main class="product-shadow">
      <h2 class = 'titulo'> Ingresar usuario </h2>

      <div class = "center">

      <form class = input-login>
      <input class="usuaries-login" type="text" id="usuario" name="usuario" placeholder="Usuario" required>
      <br>
      <input class="usuaries-login" type="text" id="password" name="password" placeholder= "Contraseña" required>
      <br>
      <a href="/"> <input class = 'inicio-login' type="button" value="iniciar sesion "></a>
      </form>

      </div>
      </main>
</body>
</html>