<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/login.css'>
    <title>fuerza y disiplina </title>
    <%- include('../partials/linksComunes.ejs') %>
</head>



<body class="celeste-clarito">
     <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main class="product-shadow">
      <h2 class = 'titulo'> Ingresar usuario </h2>

      <div class = "center">

      <form action="/users/login" method="post" enctype="multipart/form-data" class = input-login>
      <input class="usuaries-login" type="text" id="usuario" name="usuario" placeholder="Usuario" required>
      <br>
      <input class="usuaries-login" type="text" id="email" name="email" placeholder="email" required>
      <br>
      <input class="usuaries-login" type="text" id="password" name="password" placeholder= "Contraseña" required>
      <br>
      <a> <input class = 'inicio-login' type="button" value="Iniciar sesión "></a>
      </form>
     
      </div>
      </main>
      <footer>
        <%- include('../partials/footer.ejs') %>
        </footer>
</body>
</html>